.cart__container{
    position: relative;
    width: 90%;
    max-width: 100rem;
    margin: 4rem auto;
    // background: #fff;
    // box-shadow: 1px 2px 4px rgba(black, .2);
}

.cart{
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 1px 2px 4px rgba(black, .2);
    padding: 1rem;
    margin-bottom: 1.5rem;

    &__image{
        display: block;
        width: 30rem;
        margin-right: 3rem;
        object-fit: cover;
    }
    
    &__details{
        position: inherit;
    
        &--title{
            font-weight: 700;
            text-transform: uppercase;
            font-size: 3rem;
            margin-bottom: 1rem;
        }
    
        &--desc{
            margin-bottom: 1rem;
        }
        &--price{
            margin-bottom: 2rem;
            font-weight: 700;
            color: red;
            font-size: 2.5rem;
        }
    
        &--add{
            padding: 1.3rem 1rem;
            font-size: 1.4rem;
            background: #000;
            color: #fff;
            font-weight: 500;
            cursor: pointer;
            min-width: 20rem;
        }
    }
}


