.checkout{
    position: relative;
    width: 95%;
    max-width: 120rem;
    margin: 4rem auto;
    display: flex;

    &-basket{
        position: relative;
        width: 68%;
    }

    &-info{
        position: relative;
        padding: 1rem;
        width: 30%;

        &__summary{
            position: fixed;
            top: 12rem;
            right: 1rem;
            padding: 2rem;
            width: 30%;
            max-width: 35rem;
            border: 3px solid #000;

            h3{
                margin-bottom: 1.5rem;
            }
            p{
                margin-bottom: 1rem;
            }

            button{
                display: inline-block;
                padding: 1rem 1.5rem;
                margin-top: 2rem;
                font-size: 1.5rem;
                font-weight: 600;
                cursor: pointer;
                background: red;
                color: #fff;
            }
        }
    }
}

.cart__container{
    position: relative;
    width: 100%;
}

.cart{
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 1px 2px 4px rgba(black, .2);
    padding: 1rem;
    margin-bottom: 1.5rem;

    &__image{
        display: block;
        width: 30rem;
        margin-right: 3rem;
        object-fit: cover;
    }
    
    &__details{
        position: inherit;
    
        &--title{
            font-weight: 700;
            text-transform: uppercase;
            font-size: 3rem;
            margin-bottom: 1rem;
        }
    
        &--desc{
            margin-bottom: 1rem;
        }
        &--price{
            margin-bottom: 2rem;
            font-weight: 700;
            color: red;
            font-size: 2.5rem;
        }

        &--qty{
            position: inherit;

            input{
                max-width: 4rem;
            }
        }
    
        &--add{
            padding: 1.3rem 1rem;
            font-size: 1.4rem;
            background: rgba(#000, .1);
            color: #fff;
            font-weight: 500;
            cursor: pointer;
            min-width: 15rem;
        }
    }
}


